@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Playfair+Display:ital,wght@0,900;1,900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Helvetica Neue", Arial, sans-serif;
  --font-display: "Helvetica Neue", Arial, sans-serif;
  
  --color-sg-red: #EE2C3C;
  --color-sg-white: #FFFFFF;
  --color-accent-yellow: #FFD700;
  --color-sky-blue: #A3D5FF;
  --color-deep-teal: #006D77;
}
